




/*
body {

    background-color: #EFEAE8;
    color: #000000;
}

a:link {
    color: #403847;
    text-decoration: none;
}

a:hover {
    color: lightcyan;
    text-decoration: underline;
}

a:visited {
    color: mediumpurple;
    text-decoration: none;
}

a:active {
    color: lightcoral;
    text-decoration: underline;
}

input {
    padding:3px;
    border-radius: 6px;
    border-style: none;
}

table {
    text-align: left;
    background-color: #333333;
}
td{
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #444444
}

.roundbox{
    background-color: #333333;
}
.navbar{
    padding: 10px;
    background-color: #EFEAE8;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#gameplay-div{
    left: 0;
    background-color: #111;
}

#chat-div{
    right: 0;
    background-color: red;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
*/