body {
    background-color: #C0EDE6;
    color: #000000;
}

#navbar{
    background-color: #403847;
}

.join_div{
    text-align: center;
}

.create_div{
    text-align: center;
}

.logo_base{
    width: 100px;
    height: 150px;
    alignment: bottom;

}

#chat-div{
    text-align: right;
    float: right;
    position: absolute;
    right: 100px;
    top: 100px;
}

#gameplay-div{
    text-align: left;
    float:left;
    left: 90px;
    top: 100px;
}

#thumb{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-transform: lowercase;
    font-family: Georgia;
    font-size: 40px;
}

h4{
    font-family: Ananda;
    text-align: center;
    font-size: 40px;
}

input[type="text"]{
    font-family: Georgia;
    font-size: 20px;
}

input[type="submit"]{
    font-family: Georgia;
    font-size: 20px;
    border-radius: 5px;
}

.footer_class{
    text-align: center;
    alignment: bottom;
}

/*
input {
    padding:3px;
    border-radius: 6px;
    border-style: none;
}

table {
    text-align: left;
    background-color: #333333;
}
td{
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #444444
}

.roundbox{
    background-color: #333333;
}
.navbar{
    padding: 10px;
    background-color: #EFEAE8;
}

a:link {
    color: #403847;
    text-decoration: none;
}

a:hover {
    color: lightcyan;
    text-decoration: underline;
}

a:visited {
    color: mediumpurple;
    text-decoration: none;
}

a:active {
    color: lightcoral;
    text-decoration: underline;
}


*/