body {
    background-color: #333;
    color: #eee;
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
    padding: 0px;
    height: 100%;
}

@media screen and (max-width: 900px){
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.form-control,.form-control[readonly]{
    background-color:#444;
    color: #EEE;
    border-color: #FF6854;
}

.dark-textarea{
    background-color:#444!important;
    color: #EEE!important;;
}
.dark-form,.dark-form[readonly]{
    background-color:#444;
    color: #EEE;
    box-shadow: none!important;
    border-color: #FF6854!important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.table-dark{
    background-color: #444;
    /*border: 1px solid #FF6854;*/
    border-radius: 4px;
    /*box-shadow: none!important;*/
}
.btn-primary{
    background-color: #FF6854;
}
.btn-primary:hover{
    background-color: #B73d2d;
}
.pure-button-primary{
    background-color: #FF6854;
}
.pure-button-primary:hover{
    background-color: #B73d2d;
}

a:link {
    text-decoration: none;
}

.record-disc{
    border-radius: 50%;
}

.record-disc.spin{
      -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  /*-o-transition: rotate(3600deg);*/
}

.record-disc.stopspin{
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    transition: 2s;
    border-radius: 0!important;
      -webkit-animation-name: none;
      -moz-animation-name: none;
        -ms-animation-name: none;

}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


/*  ~~~~~~ NAVBAR ~~~~~~  */

nav{
    width: 100%;
    height: 100px;
    font-family: parkside, cursive;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size: 100px;
    background-color: #444;
    line-height: 70px;
    margin: 0 auto;
}

nav a:hover{
    color: #FF6854;
}

nav a{
    display: block;
    color: #fff;
    padding: 10px;
}

/*  ~~~~~~ JOIN AND CREATE ROOM ~~~~~~  */

.join_div{
    text-align: center;
}

.create_div{
    text-align: center;
}


#page{
    background-color: #C0EDE6;
}


#chat-div{
    text-align: right;
    float: right;
    position: absolute;
    right: 100px;
    top: 100px;
}

#gameplay-div{
    text-align: left;
    float:left;
    left: 90px;
    top: 100px;
}

#thumb{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h3{
    text-transform: lowercase;
    font-family: Georgia, serif;
    font-size: 32px;
    text-align: center;
}

h4{
    text-align: center;
    font-size: 40px;
}

.centered{
    text-align: center;
    width: 100%;
}

/*input[type="text"]{*/
    /*font-family: Georgia;*/
    /*font-size: 20px;*/
/*}*/

/*input[type="submit"]{*/
    /*font-family: Georgia;*/
    /*font-size: 20px;*/
    /*border-radius: 5px;*/
/*}*/


.footer_class{
    text-align: center;
    alignment: bottom;
}

.logo_base{
    width: 100px;
    height: 150px;
    alignment: bottom;

}

.history_thumb {
    width: 60px;
    height: 60px;
    border: none !important;
}
/*
input {
    padding:3px;
    border-radius: 6px;
    border-style: none;
}

table {
    text-align: left;
    background-color: #333333;
}
td{
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #444444
}

.roundbox{
    background-color: #333333;
}
.navbar{
    padding: 10px;
    background-color: #EFEAE8;
}

a:link {
    color: #403847;
    text-decoration: none;
}

a:hover {
    color: lightcyan;
    text-decoration: underline;
}

a:visited {
    color: mediumpurple;
    text-decoration: none;
}

a:active {
    color: lightcoral;
    text-decoration: underline;
}


*/