<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" href="../resource/egbert.css">
<link rel="stylesheet" href="https://use.typekit.net/kbo0lpa.css">

    <title> Guessong </title>

</head>

{% block navbar %}
<nav>
    <a href="/index" class="navbar_text">guessong <span style="color: #FF6854; ">.io</span>
    </a>
</nav>


{% endblock %}

{#<div id="page">#}
{% block content %}
    <div class="container" style="padding-top: 15px">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}



    </div>
{% endblock %}
{#</div>#}
    <footer>
        </br>
        </br>
        <p class="footer_class"> Guessong © 2018 <br> Created by <a href="http://www.benjaminwelsh.com">Benjamin Welsh<a>, <a href="http://anikave.com">Anika Verma</a>, and <a href="http://joecleveland.me">Joe Cleveland</a> </p>
    </footer>




</html>