{% extends "base.html" %}
{% block app_content %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type='text/javascript' src='../resource/gamesockets.js'></script>

    <div class="row mx-auto">
    <div class="col-md-4" id="create_col">
        <form class="pure-form" id="create_game"> <!-- section to create game -->
            <label class=" pure-input-1 centered" for="room_code"><b>ROOM CODE</b></label>
            <input class="dark-form dark-textarea pure-input-1 centered room_code" type="text"  placeholder="Readonly input here…" readonly>
                <label class="pure-input-1" for="song_length">Time to guess: <var id="time_value">20</var> seconds </label>
                <input class="dark-form pure-input-1 slider" type='range' min='10' max='30' id='song_length'>
                <label class="pure-input-1" for="playlist">Playlist</label>
                <select class="dark-form dark-textarea pure-input-1" id='playlist' style="height:  calc(3.0rem + 2px);"></select>
            <br>
            <br>
                <button type='button' class="dark-form pure-button pure-input-1 pure-button-primary" id='start'>Start Game</button>
            </form>
    </div>
{#    GAMEPLAy LEFT    #}
        <div class="col-md-4" id="game_col">
            <form class="pure-form">
            <label class=" pure-input-1 centered" for="room_code"><b>ROOM CODE</b></label>
            <input class="dark-form dark-textarea pure-input-1 centered room_code" type="text" placeholder="Readonly input here…" readonly>
        </form>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Score</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody id="score_body"> <!-- SCOREBOARD -->
          </tbody>
        </table>
        <table class="table table-dark">
         <thead>
            <tr>
              <th scope="col">Played songs: </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="history_body">
            <tr>
            </tr>
          </tbody>
        </table>
        </div>
    <div class="col-md-4" id="center_column">
        <img class="img-fluid record-disc spin stopspin" src="/resource/placeholder.png" id="thumb">
        <div id="song_info">
        <h3 id="song_name">September</h3>
        <h3 id="song_artist">Earth, Wind and Fire</h3>
        <h3 id="album">B)</h3>
        </div>
        <p class="table-dark" style="margin-top:1em;text-align:left;">
        <span style="padding-left: 5px;" id="timer">-</span>
        <span style="padding-right: 5px;float:right;" id="progress">-</span>
        </p>
    </div>
    <div class="col-md-4" id="chat-col">
        <form class="pure-form" id="chat" action='#'>
            <fieldset class="pure-group">
                <div class="dark-textarea dark-form pure-input-1" style="border-radius: 4px 4px 0 0;padding:5px;border:solid 1px;overflow: auto; height: 30em " id="chat_output"></div>
                <input type="text" class="dark-form pure-input-1" autocomplete="off" id="chat_input" placeholder="Chat/Guess" required>
            </fieldset>
                <button class="dark-form pure-button pure-input-1 pure-button-primary" id="chat_submit">Chat/Guess</button>
        </form>
    </div>
    </div>

{% endblock %}
