{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}
    <h2>Welcome to Guessong!</h2>

    {% if error == 'room' %}
        <h4 id="error_header">Room does not exist</h4>
    {% endif %}
    {% if error == 'name' %}
        <h4 id="error_header">That name has been taken</h4>
    {% endif %}
    </br>

     <div class="join_div">
        <h3> Join a Game </h3>
        <p class="about"> join a game with your friends! </br>  enter the room code given to you by the creator of the game, and then your name! </p>

        <h3> Join a Game </h3>
        <form id="joining_game" method="POST" action='/join_game'>
            <input type="text" name="room_code" id="room_code" placeholder="Room Code" required>
            <input type="text" name="name" id="joinGame_name" placeholder="Name" required>
            <input type="submit" value="Join Game" id="join">
        </form>
        <p id="createValidation"> </p>
     </div>
    </br>
    </br>
    <h4> ~ or ~ </h4>
    </br>
    </br>
    <div class = "create_div">
        <h3> Create a Game </h3>
        <p class="about"> create a game, then invite your friends to join! </p>
        <form id="creating_game" method="POST" action='/create_game'>
            <input type="text" name="name" id="createGame_name" placeholder="Name" required>
            <input type="submit" value="Create Game" id="create_lobby">
        </form>
        <p id="joinValidation"> </p>
    </p>
    </div>

     <!-- <img src="../resource/guesssong_logo.png" class="logo_base"> -->
{% endblock %}

