{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}


    {% if error == 'room' %}
        <div class="alert alert-danger" role="alert">
            That room doesn't exist!
        </div>
    {% endif %}

    {% if error == 'name' %}
        <div class="alert alert-danger" role="alert">
            That name is already taken!
        </div>
    {% endif %}


    </br>

     <div class="join_div">
        <h3 class="front_page"> Join a Game </h3>
        <p class="about"> Join a game with your friends! </br>  Enter the room code given to you by the creator of the game, and then your name! </p>
         <div class="col-md-4 col-centered">
         <form class="pure-form" id="joining_game" method="POST" action='/join_game'>
            <fieldset class="pure-group">
                <input type="text" class="dark-form pure-input-1" name="room_code" id="room_code" placeholder="Room Code" required>
                <input type="text" class="dark-form pure-input-1" name="name" id="joinGame_name" placeholder="Your Name" maxlength="20" required>
                <input class="dark-form pure-button pure-input-1 pure-button-primary" type="submit" value="Join Game" id="join">
            </fieldset>
         </form>
         </div>
        <p id="createValidation"> </p>
     </div>
    <h3 class="front_page"> ~ or ~ </h3>
    </br>
    <div class = "create_div">
        <h3 class="front_page"> Create a Game </h3>
        <p class="about"> Create a game, then invite your friends to join! </p>
        <div class="col-md-4 col-centered">
            <form class="pure-form" id="creating_game" method="POST" action='/create_game'>
            <fieldset class="pure-group">
                <input type="text" class="dark-form pure-input-1" name="name" id="createGame_name" placeholder="Your Name" maxlength="20" required>
                <input class="dark-form pure-button pure-input-1 pure-button-primary" type="submit" value="Create Game" id="create_lobby">
            </fieldset>
            </form>
        </div>
        <p id="joinValidation"> </p>
    </p>
    </div>

     <!-- <img src="../resource/guesssong_logo.png" class="logo_base"> -->
{% endblock %}

