{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}
    Welcome to Guessong!
    <p id="join_p">
        <h3> Join a Game </h3>
        <form id="joining_game" method="POST" action='/game'>
            <input type="text" name="room_code" id="room_code" placeholder="Room Code" required>
            <input type="text" name="name" id="joinGame_name" placeholder="Name" required>
            <input type="submit" value="Join Game" id="join">
        </form>
        <p id="createValidation"> </p>
    </p>


    <p id="create_p">
        <h3> Create a Game </h3>
        <form id="creating_game" method="POST" action='/game'>
            <input type="text" name="name" id="createGame_name" placeholder="Name" required>
            <input type="submit" value="Create Game" id="create_lobby" onC>
        </form>
        <p id="joinValidation"> </p>
    </p>
{% endblock %}

