<html>
    <head>
    <title>Socket Demo</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>

    <script type='text/javascript'>
        $(document).ready(function() {
            $('button#join').click(function(event) {
                console.log("JOINED");
               return false;
            });
            /*
            $('button#create_lobby').click(function(event) {
                console.log('clicked');
                //$.post("/game", {data: "Some data"});

            });*/
        });
    </script>

    <body>
    <form id="emit" method="POST" action='/game'>
        <input type="text" name="room_code" id="room_code" placeholder="Room Code">
        <input type="text" name="name" id="name" placeholder="Name">
        <button id="join">Join</button>
        <input type="submit" value="create_lobby" id="create_lobby">
    </form>

    <p id='output'></p>
    </body>
</html>
